<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="maps.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

    <title>MAPS INTERACTIVE</title>
</head>
<body>
    <section id="header_1">
        <div class="logo_1">
          <img id="imgLogo_1" src="images/studyBuddyLogo-removebg-preview.png" alt="logo"> 
        </div> 
        <div class="onglet_1">
          <ol>
              <li class="menus_1"><a href="#">cours</a></li>
              <li class="menus_1"><a href="#">maps</a></li>
              <li class="menus_1"><a href="#">contact</a></li>
              <a href="#"><i id="menus_1" class="fa-solid fa-user"></a></i>
          </ol>
        </div> 
      </section>

    <div class="maps_container_1">
        <div id="map"></div>
    </div>

    <dialog id="laModale">
        <p>Ajouter un nouveau marker :</p>
        <form method="dialog">
            <p>
                <label>Nom :
                    <input type="text" id="nom" />
                </label>
            </p>
            <p>
                <label>Description :
                    <input type="text" id="description" />
                </label>
            </p>
            <p>
                <label>Téléphone :
                    <input type="text" id="telephone" />
                </label>
            </p>
            <div>
                <button value="non">Annuler</button>
                <button value="oui">Valider</button>
            </div>
        </form>
    </dialog>

    <script src="main.js"></script> 
</body>
</html>